frontend/node_modules/
frontend/.expo/
frontend/npm-debug.*
.idea/workspace.xml
frontend/android/app/build
frontend/android/.idea
frontend/android/.gradle
frontend/ios/
frontend/android/build/
*.iml
backend/b-ve/
backend/b-ev/
